services:
  web:
    build:
      context: ./web
    environment:
      APP_PATH: ${N_URL_PREFIX}
      APP_STATIC_PATH: ${N_STATIC_URL}
      APP_MEDIA_PATH: ${N_MEDIA_URL}
      APP_URL: http://app:49152${N_URL_PREFIX}

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
      POSTGRES_DB: ${N_DATABASE_NAME}
      POSTGRES_USER: ${N_DATABASE_USER}
      POSTGRES_PASSWORD: ${N_DATABASE_PASSWORD}

  app:
    build: ./app
    environment:
      N_SECRET_KEY: ${N_SECRET_KEY}
      N_ALLOWED_HOSTS: app
      N_DATABASE_HOST: db
      N_DATABASE_NAME: ${N_DATABASE_NAME}
      N_DATABASE_USER: ${N_DATABASE_USER}
      N_DATABASE_PASSWORD: ${N_DATABASE_PASSWORD}
      N_URL_PREFIX: ${N_URL_PREFIX}
      N_STATIC_URL: ${N_STATIC_URL}
      N_MEDIA_URL: ${N_MEDIA_URL}
