Django==5.2.1
beautifulsoup4==4.13.4
django-environ==0.12.0
django-filter==25.1
django-tinymce==3.7.1
django-user-g11n==0.4.4
djangorestframework==3.16.0
fontawesomefree==6.6.0
pillow==11.2.1
psycopg[binary]==3.2.9
python-dateutil==2.9.0.post0
uWSGI==2.0.29
