Django==5.0.2
beautifulsoup4==4.12.3
django-environ==0.11.2
django-filter==23.5
django-tinymce==3.7.1
djangorestframework==3.14.0
fontawesomefree==6.5.1
pillow==10.2.0
psycopg2-binary==2.9.8
python-dateutil==2.8.2
uWSGI==2.0.24
