Django==4.2.7
beautifulsoup4==4.12.2
django-debug-toolbar==4.0.0
django-environ==0.10.0
django-filter==23.2
django-tinymce==3.6.1
djangorestframework==3.14.0
Pillow==10.0.1
psycopg2-binary==2.9.6
python-dateutil==2.8.2
