{% load i18n %}

<div class="modal modal-sm" id="calculator" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">

<div class="container">
  <div class="row mb-1">
    <div class="col">
      <span id="calc-input" class="text-break"></span><span>&nbsp;</span>
    </div>
  </div><!-- .row -->
  <div class="row my-2">
    <div class="col text-end">
      <span id="calc-result" class="fs-4 text-break">0</span>
    </div>
  </div><!-- .row -->
  <div id="calc-buttons">
    <div class="row my-1 gx-1">
      <div class="col-3">
        <button type="button" class="btn btn-secondary w-100" data-value="ac">AC</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-secondary w-100" data-value="bs"><i class="fas fa-delete-left"></i></button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary w-100" data-value="enter" data-bs-dismiss="modal"><i class="fas fa-check fa-fw"></i> {% trans 'Enter' %}</button>
      </div>
    </div><!-- .row -->
    <div class="row my-1 gx-1">
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="7">7</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="8">8</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="9">9</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-info w-100" data-value="/">&divide;</button>
      </div>
    </div><!-- .row -->
    <div class="row my-1 gx-1">
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="4">4</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="5">5</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="6">6</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-info w-100" data-value="*">&times;</button>
      </div>
    </div><!-- .row -->
    <div class="row my-1 gx-1">
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="1">1</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="2">2</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="3">3</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-info w-100" data-value="-">&minus;</button>
      </div>
    </div><!-- .row -->
    <div class="row my-1 gx-1">
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value="0">0</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-light w-100" data-value=".">.</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-secondary w-100" data-value="=">=</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-info w-100" data-value="+">+</button>
      </div>
    </div><!-- .row -->
  </div><!-- #id-key -->
</div>

      </div>
    </div>
  </div>
</div>

<script>
class Calculator {
  constructor() {
    this.inputs = [];
  }

  state() {
    const len = this.inputs.length;

    return (len > 0) ? this.inputs[len - 1].state : 'EMPTY';
  }

  _isState(stateList) {
    return stateList.includes(this.state());
  }

  _pushInput(value, state) {
    this.inputs.push({value: value, state: state});
  }

  /*
    | State\Event  | 0       | [1-9]   | .       | +      | -      | * /    |
    |--------------+---------+---------+---------+--------+--------+--------|
    | EMPTY        | -/ZERO  | -/INT   | -       | -      | -/NEGA | -/OP_O |
    | ZERO (0)     | -       | -       | -/POINT | -/OP_P | -/OP_M | -/OP_O |
    | INT          | -/INT   | -/INT   | -/POINT | -/OP_P | -/OP_M | -/OP_O |
    | FLOAT        | -/FLOAT | -/FLOAT | -       | -/OP_P | -/OP_M | -/OP_O |
    | NEGA (-)     | -/ZERO  | -/INT   | -       | -      | -      | -      |
    | POINT (.)    | -/FLOAT | -/FLOAT | -       | -      | -      | -      |
    | OP_P (+)     | -/ZERO  | -/INT   | -       | -      | P/OP_M | P/OP_O |
    | OP_M (-)     | -/ZERO  | -/INT   | -       | -      | -      | P/OP_O |
    | OP_O (* /)   | -/ZERO  | -/INT   | -       | P/OP_P | -/NEGA | P/OP_O |
    | DONE         | C/ZERO  | C/INT   | -       | -/OP_P | -/OP_M | -/OP_O |
  */
  push(c) {
    if (c == '0') {
      if (this._isState(['EMPTY', 'NEGA', 'OP_P', 'OP_M', 'OP_O'])) {
        this._pushInput(c, 'ZERO');
      } else if (this._isState(['INT'])) {
        this._pushInput(c, 'INT');
      } else if (this._isState(['FLOAT', 'POINT'])) {
        this._pushInput(c, 'FLOAT');
      } else if (this._isState(['DONE'])) {
        this.clear();
        this._pushInput(c, 'ZERO');
      }
    } else if ('0123456789'.includes(c)) {
      if (this._isState(['EMPTY', 'INT', 'NEGA', 'OP_P', 'OP_M', 'OP_O'])) {
        this._pushInput(c, 'INT');
      } else if (this._isState(['FLOAT', 'POINT'])) {
        this._pushInput(c, 'FLOAT');
      } else if (this._isState(['DONE'])) {
        this.clear();
        this._pushInput(c, 'INT');
      }
    } else if (c == '.') {
      if (this._isState(['ZERO', 'INT'])) {
        this._pushInput(c, 'POINT');
      }
    } else if (c == '+') {
      if (this._isState(['ZERO', 'INT', 'FLOAT', 'DONE'])) {
        this._pushInput(c, 'OP_P');
      } else if (this._isState(['OP_O'])) {
        this.pop();
        this._pushInput(c, 'OP_P');
      }
    } else if (c == '-') {
      if (this._isState(['EMPTY', 'OP_O', 'DONE'])) {
        this._pushInput(c, 'NEGA');
      } else if (this._isState(['ZERO', 'INT', 'FLOAT'])) {
        this._pushInput(c, 'OP_M');
      } else if (this._isState(['OP_P'])) {
        this.pop();
        this._pushInput(c, 'OP_M');
      }
    } else if ('*/'.includes(c)) {
      if (this._isState(['EMPTY', 'ZERO', 'INT', 'FLOAT', 'DONE'])) {
        this._pushInput(c, 'OP_O');
      } else if (this._isState(['OP_P', 'OP_M', 'OP_O'])) {
        this.pop();
        this._pushInput(c, 'OP_O');
      }
    }
  }

  pop() {
    return this.inputs.pop();
  }

  clear() {
    this.inputs = [];
  }

  expressionHtml() {
    return this.inputs.map(x => x.value).join('').replaceAll(
      '+', ' &plus; '
    ).replaceAll(
      '-', ' &minus; '
    ).replaceAll(
      '*', ' &times; '
    ).replaceAll(
      '/', ' &divide; '
    );
  }

  result() {
    let r;

    try {
      // Warning: eval() is used.
      r = eval(this.inputs.map(x => x.value).join(''));
    } catch {
      return null;
    }

    if (!isFinite(r)) return null;

    this.clear();
    r.toString().split('').forEach(x => this.push(x));
    this._pushInput('', 'DONE');

    return r;
  }
}

$(() => {
  const calculator = new Calculator();

  const inputCalculator = value => {
    if (value === 'enter') {
      const r = calculator.result();
      $('{{ input }}').val((r != null) ? parseInt(r) : 0);
    } else if (value === '=') {
      const e = calculator.expressionHtml()
      const r = calculator.result();

      if (r != null) {
        $('#calc-input').html(e + ' =');
        $('#calc-result').html(r.toLocaleString());
      }
    } else if (value === 'ac') {
      calculator.clear();
      $('#calc-result').html('0');
      $('#calc-input').html('');
    } else if (value === 'bs') {
      calculator.pop();
      $('#calc-input').html(calculator.expressionHtml());
    } else {
      calculator.push(value);
      $('#calc-input').html(calculator.expressionHtml());
    }
  };

  $('#calc-buttons button').on('click', e => {
    const value = $(e.currentTarget).data('value');
    inputCalculator(value);
  });

  $('#calculator').on('keydown', e => {
    const code = '0123456789.+-*/='.includes(e.key) ? e.key :
          (e.code === 'Enter') ? '=' :
          (e.code === 'Escape') ? 'ac' :
          (e.code === 'Backspace') ? 'bs' :
          null;

    if (code != null) inputCalculator(code);
  });
});
</script>
