Django==6.1.1
beautifulsoup4==4.15.0
django-countries==9.1.0
django-environ==0.14.0
django-filter==26.1
django-tinymce==5.0.0
django-user-g11n==0.4.4
djangorestframework==3.18.1
djangorestframework-csv==3.0.2
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
drf-spectacular-sidecar==2026.9.1
fontawesomefree==6.6.0
pillow==12.3.0
psycopg[binary]==3.3.6
python-dateutil==2.9.0.post0
social-auth-app-django==6.0.1
