.doc-content {
  --bs-border-color: #dee2e6;
}
.doc-content > h1 {
  margin-top: 1.75rem;
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--bs-border-color);
}
.doc-content > h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--bs-border-color);
}
.doc-content > h3 {
  margin-top: 1.375rem;
  font-size: 1.375rem;
}
.doc-content > h4 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
}
.doc-content > h5 {
  margin-top: 1.125rem;
  font-size: 1.125rem;
}
.doc-content > h6 {
  margin-top: 1rem;
  font-size: 1rem;
}
.doc-content p {
  margin-bottom: 0.5rem;
}
.doc-content img {
  max-width: 100%;
  height: auto;
}
.doc-content table.table thead {
  border-bottom: calc(var(--bs-border-width) * 2) solid currentcolor;
}
.doc-toc {
  margin-bottom: 1.5rem;
}
.doc-toc li {
  margin-bottom: 0;
}
